
}
body>nav+label>input {display:none}


aside:after {
    content: "Radar Chart Designer - v0.4 - by owhs";
    font-size: 11px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: #0002;
    line-height: 20px;
    text-align: center;
    color: #000;
    opacity: .6;
    pointer-events: none;
}


.flex>aside .flex>input:not(:only-child) {
    max-width: 100px;
    min-width: 100px;
    width: 100px;
}

.flex>aside .flex>input[type=number] {
    max-width: 88px;
    min-width: 88px;
    width: 88px;
}

/* dark */

html.dark aside:after {
    color: #fff;
}
html.dark {
    background-color: #181a1b !important;
}
html.dark {
    color-scheme: dark !important;
}
html.dark, html.dark body, html.dark input, html.dark textarea, html.dark select, html.dark button, html.dark dialog {
    background-color: #181a1b;
}
html.dark, html.dark body, html.dark input, html.dark textarea, html.dark select, html.dark button {
    border-color: #726a5d;
    color: #e6e4e1;
}
html.dark a {
    color: #3290fc;
}
html.dark table {
    border-color: #535a5d;
}
html.dark ::placeholder {
    color: #b0a99f;
}
html.dark input:-webkit-autofill,
html.dark textarea:-webkit-autofill,
html.dark select:-webkit-autofill {
    background-color: #3f4300 !important;
    color: #e6e4e1 !important;
}
html.dark ::-webkit-scrollbar {
    background-color: #202324;
    color: #a9a297;
}
html.dark ::-webkit-scrollbar-thumb {
    background-color: #44494c;
}
html.dark ::-webkit-scrollbar-thumb:hover {
    background-color: #565d61;
}
html.dark ::-webkit-scrollbar-thumb:active {
    background-color: #474d50;
}
html.dark ::-webkit-scrollbar-corner {
    background-color: #181a1b;
}
html.dark ::selection {
    background-color: #004ca8 !important;
    color: #e6e4e1 !important;
}
html.dark ::-moz-selection {
    background-color: #004ca8 !important;
    color: #e6e4e1 !important;
}
/*
html.dark .jfk-bubble.gtx-bubble, .captcheck_answer_label > input + img, span#closed_text > img[src^="https://www.gstatic.com/images/branding/googlelogo"], span[data-href^="https://www.hcaptcha.com/"] > #icon, #bit-notification-bar-iframe, ::-webkit-calendar-picker-indicator, div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"], div[role="dialog"] div[role="document"] {
    filter: invert(100%) hue-rotate(180deg) brightness(99%) contrast(90%) !important;
}*/
:root {
   --darkreader-neutral-background: #131516;
   --darkreader-neutral-text: #d6d2cd;
   --darkreader-selection-background: #004ca8;
   --darkreader-selection-text: #e6e4e1;
}
html.dark aside {
    background-image: initial;
    background-color: rgb(34, 36, 38);
    border-right-color: rgb(57, 61, 64);
}
html.dark main {
    background-image: linear-gradient(45deg,
    rgba(0, 0, 0, 0.07) 25%,
    rgba(0, 0, 0, 0) 25%),
    linear-gradient(45deg,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0.07) 75%),
    linear-gradient(45deg,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0.07) 75%),
    linear-gradient(45deg,
    rgba(0, 0, 0, 0.07) 25%,
    rgba(0, 0, 0, 0) 25%);
}
html.dark aside > div[label] {
    border-color: rgba(139, 129, 114, 0.13);
    background-image: initial;
    background-color: rgba(24, 26, 27, 0.53);
}
html.dark aside > div[label]::before {
    color: rgb(155, 147, 135);
    border-bottom-color: rgb(54, 59, 61);
}
html.dark nav {
    background-image: initial;
    background-color: rgb(18, 88, 46);
    border-bottom-color: rgb(38, 180, 94);
}
html.dark nav > a {
    color: rgb(209, 205, 199);
    text-decoration-color: initial;
}
html.dark nav > a:hover,
html.dark nav > a.active {
    color: rgb(230, 228, 225);
}
html.dark nav > a.logo {
    background-image: url("favicon.ico");
    background-color: initial;
}
html.dark .flex > aside input {
    outline-color: initial;
    border-color: rgb(61, 67, 69);
}
html.dark .flex > aside input:hover {
    border-color: rgb(60, 115, 81);
}
html.dark .flex > aside input:focus {
    border-color: rgb(37, 176, 92);
}
html.dark aside .table > div input,
html.dark aside #data.table > div a {
    border-color: rgba(139, 129, 114, 0);
    background-image: initial;
    background-color: rgb(34, 36, 38);
}
html.dark aside .table > div input:hover {
    background-image: initial;
    background-color: rgb(31, 33, 35);
    border-color: rgba(61, 67, 69, 0) !important;
}
html.dark aside .table > div input:focus {
    background-image: initial;
    background-color: rgb(27, 30, 31);
    border-color: rgb(52, 56, 58) !important;
}
html.dark aside div > a.add {
    text-decoration-color: initial;
    color: rgb(176, 170, 160);
    background-image: initial;
    background-color: rgba(24, 26, 27, 0.33);
}
html.dark aside div > a.add:hover {
    background-image: initial;
    background-color: rgb(24, 26, 27);
    color: rgb(198, 193, 186);
}
html.dark aside #data.table > div a {
    text-decoration-color: initial;
    color: rgb(221, 179, 179);
}
html.dark aside #data.table > div a:hover {
    background-image: initial;
    background-color: rgb(52, 56, 58);
    color: rgb(204, 116, 116);
}

